@model Jobz.Models.JobModel

@{
    ViewBag.Title = "Create Job Advert";
}

<h2>Publish Job Advert</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId, new { Value = ViewBag.LoggedInUserId })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.JobCategories, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegionId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RegionId, new SelectList(Model.JobRegions, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.RegionId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WorkHoursId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.WorkHoursId, new SelectList(Model.WorkHours, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.WorkHoursId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Openings, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Openings, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Openings, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
            <input type="button" class="btn btn-primary" value="Back to Menu" onclick="location.href='@Url.Action("Index", "User")'" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
